.board {
  padding: 20px 0;
}

.board .board__container {
  margin: 0 auto;
  width: 70%;
  padding: 40px;
}

.board .board__row {
  display: flex;
  border: 1px solid;
}

.board .board__col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  transition: all .5s;
}

.board__row:not(:last-child) {
  border-bottom: none;
}

.board__col:not(:last-child) {
  border-right: 1px solid;
}

.board__col--blue {
  background: #5fd2f1;
}

.board__col--black {
  background: rgba(50, 50, 50, 0.8);
}

.board__col--selected {
  background: #f2f2f2;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
}

.board__field {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 5px 10%;
}

.horse {
  display: block;
  width: 100%;
  padding: 11px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.horse--blue, .count--blue {
  color: #0fa2d1;
}

.horse--black, .count--black {
  color: #323232;
}

.horse:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
}
